@charset 'UTF-8';
	*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:0;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

*,:after,:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

html{
	overflow-x:hidden;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}

::-moz-selection{
	color:#fff;
	background-color:#eb5055
}

::selection{
	color:#fff;
	background-color:#eb5055
}

body{
	font-family:-apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	font-size:14px;
	line-height:1.8;
	margin:0 auto;
	color:#313131;
	text-rendering:geometricPrecision;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

#comments .lists-navigator{
	margin:20px 0
}

#comments .lists-navigator ol{
	margin:20px 0;
	padding:0 10px;
	list-style:none;
	text-align:center
}

#comments .lists-navigator ol li.current a{
	color:#eb5055
}

.comment-container{
	position:relative;
	z-index:1;
	color:#5f5f5f;
	background-color:#f7f7f7
}

#comments{
	max-width:700px;
	margin:0 auto;
	padding:0 20px
}

#comments .page-navigator{
	margin:0
}

#comments a{
	color:#5f5f5f
}

#comments .response{
	font-size:14px;
	font-weight:400;
	display:block;
	padding:30px 0 30px 20px;
	color:#5f5f5f
}

#comments .response a{
	color:#eb5055
}

.comment-list{
	margin:0;
	padding-left:0;
	list-style-type:none
}

.comment-parent{
	margin:20px 0;
	border:1px solid rgba(184,197,214,.2);
	border-radius:3px;
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,.04);
	box-shadow:0 1px 4px rgba(0,0,0,.04)
}

.comment-parent:last-child{
	margin:20px 0 0
}

.comment-parent:first-child{
	margin:0
}

.comment-child,.comment-child2{
	border-top:1px solid rgba(184,197,214,.2)
}

.comment-view{
	padding:20px;
	cursor:pointer
}

.comment-header{
	display:inline-block;
	width:100%
}

.comment-header .avatar{
	display:inline-block;
	float:left;
	width:40px;
	height:40px;
	border:1px solid #eaeaea;
	border-radius:50%
}

.comment-header .comment-author{
	font-size:13px;
	line-height:45px;
	display:inline-block;
	float:left;
	margin:0 20px
}

.comment-header .comment-by-author a{
	color:#eb5055!important
}

.comment-content{
	margin-bottom:10px;
	color:#313131
}

.comment-meta{
	font-size:12px
}

.comment-meta .comment-reply{
	display:none;
	float:right
}

.comment-meta .comment-reply a{
	color:#eb5055!important
}

.comment-view:hover .comment-meta .comment-reply{
	display:block
}

.comment-parent>
	.comment-children .avatar{
	width:34px;
	height:34px;
	margin:3px 0 0 3px
}

.comment-parent>
	.comment-children .comment-author-at{
	float:left;
	margin-right:5px
}

.comment-parent>
	.comment-children .comment-content{
	margin:-3px 3px 10px
}

.comment-parent>
	.comment-children .comment-meta{
	margin:0 3px
}

.comment-form{
	position:relative;
	margin:0 0 40px;
	padding:10px 20px;
	border-radius:3px;
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,.04);
	box-shadow:0 1px 4px rgba(0,0,0,.04)
}

.comment-form .form-control{
	font-size:13px;
	display:block;
	width:100%;
	height:34px;
	color:#313131;
	outline:0
}

.comment-form .form-control:focus{
	border-color:#eb5055;
	outline:0
}

.comment-form textarea.form-control{
	overflow:hidden;
	height:150px;
	padding:10px 0;
	resize:none;
	border-radius:0
}

.comment-form .input-control{
	float:left;
	width:100%;
	max-width:206px;
	border-bottom:1px dashed #ddd;
	border-radius:0
}

.comment-form .submit{
	font-size:13px;
	position:absolute;
	right:20px;
	bottom:20px;
	display:block;
	height:32px;
	margin:0 auto;
	padding:0 20px;
	-webkit-transition-duration:.4s;
	transition-duration:.4s;
	text-align:center;
	color:#313131;
	border:1px solid #f7f7f7;
	border-radius:30px;
	background-color:#f7f7f7
}

.comment-form .submit:hover,.submit:active,.submit:active:focus,.submit:focus{
	color:#eb5055;
	border:1px solid #eb5055;
	outline-style:none;
	background-color:#fff
}

.footer{
	position:relative;
	z-index:1;
	margin-top:0;
	padding-bottom:50px;
	background-color:#fff
}

.footer-social{
	border-bottom:1px solid rgba(184,197,214,.2)
}

.footer-social .footer-container{
	max-width:940px;
	margin:0 auto
}

.footer-social .social-list{
	padding:20px;
	text-align:center
}

.footer-social .social-list a{
	font-size:13px;
	padding:0 25px;
	text-decoration:none;
	color:#5f5f5f
}

.footer-meta{
	padding:50px 0 0;
	list-style:none
}

.footer-meta .footer-container{
	width:100%;
	max-width:960px;
	height:250px;
	margin:0 auto;
	padding:0 80px
}

.footer-meta .meta-item{
	position:relative;
	float:left;
	width:33.3333333%;
	min-height:1px;
	padding:0 30px
}

.footer-meta .meta-copyright .info-logo img{
	height:32px;
	margin-bottom:12px
}

.footer-meta .meta-copyright .info-text p{
	font-size:13px;
	line-height:20px;
	margin:0;
	color:#767676
}

.footer-meta .meta-copyright .info-text a{
	color:#767676
}

.footer-meta .meta-title{
	font-size:14px;
	padding:0 0 10px 0;
	text-decoration:none;
	color:#5f5f5f
}

.footer-meta .meta-posts li{
	font-size:13px;
	line-height:25px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#767676
}

.footer-meta .meta-posts li a{
	color:#5f5f5f
}

.footer-meta .meta-comments li{
	font-size:13px;
	line-height:25px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#5f5f5f
}

.footer-meta .meta-comments li a{
	color:#767676
}

@media(max-width:1000px){
	.directory-content{
	display:none
}

.post-header-thumb{
	height:280px
}

.post-header-thumb-cover{
	height:280px
}

.post-header-thumb-op{
	height:280px
}

.post-header-thumb-container{
	top:70px
}


}

@media(max-width:880px){
	.index-page{
	padding:80px 0 0
}

.archive-page{
	padding:80px 0 20px
}

.common-page{
	padding:80px 0 0
}

.post-onelist-item-container{
	padding:50px 20px 55px
}

.post-list-item{
	width:50%;
	padding:10px
}

.post-list-item:nth-child(odd){
	padding-left:20px
}

.post-list-item:nth-child(even){
	padding-right:20px
}

.lists-navigator{
	margin:25px 0 30px
}

.post-header-thumb{
	height:250px
}

.post-header-thumb-op{
	height:250px
}

.post-header-thumb-cover{
	height:250px
}

.post-header-thumb-container{
	top:60px
}

.footer-meta .footer-container{
	padding:0
}

.main-content{
	margin:0 auto
}

.footer-meta .meta-item{
	padding:0 20px
}


}

@media(max-width:700px){
	.comment-form .input-control{
	max-width:100%
}

.post-header-thumb{
	height:220px
}

.post-header-thumb-op{
	height:220px
}

.post-header-thumb-cover{
	height:220px
}

.post-header-thumb-container{
	top:40px
}

.post-page{
	padding:20px 25px 0
}

.page-page{
	padding:90px 25px 0
}

.search-page .search-tags{
	padding:0 0 15px
}

.search-page .search-tags p{
	margin:0
}

.related-post-lists{
	padding-top:15px
}

.post-onelist-item-container{
	padding:20px 20px 25px
}

.post-onelist-item-container .onelist-item-thumb{
	min-height:240px
}


}

@media(max-width:650px){
	.navbar-menu{
	display:none
}

.navbar-search{
	padding:0 35px 0 0
}

.navbar-search form{
	width:180px;
	margin-right:55px
}

.navbar-mobile-menu{
	display:inline-block
}

.red-gradient{
	display:none
}

.meta-posts{
	display:none
}

.meta-comments{
	display:none
}

.post-bottom-bar .social-share{
	display:none
}

.post-page{
	padding:90px 25px 0
}

.common-page .post-list-item{
	width:100%;
	padding:10px 20px
}

.footer-social{
	display:none
}

.footer-meta .footer-container{
	height:70px;
	padding:0 15px
}

.footer-meta .meta-item{
	width:100%;
	padding:0 10px
}

.footer-meta .meta-copyright .info-text{
	float:right
}

.footer-meta .meta-copyright .info-text p{
	text-align:right
}

.post-onelist-item-container .onelist-item-thumb{
	min-height:220px
}

.post-header-thumb{
	display:none
}

.post-page .post-header{
	display:inherit
}

.post-page .post-content .post-tags{
	display:inherit
}


}

@media(max-width:580px){
	.navbar-search form{
	width:150px
}

.index-page{
	padding:70px 0 0
}

.archive-page{
	padding:70px 0 20px
}

.common-page{
	padding:70px 0 0
}
