{% extends "base.html" %}
{% block head %}
{% include "header.html" %}
{% endblock %}
{% block heart %}
<article class="post-full post tag-react tag-next-js tag-antdesign ">
<header class="post-full-header">
<section class="post-full-meta">
<!--NOTE:发表时间-->
<time class="post-full-meta-date" datetime="2019-02-07">07 February 2019</time>
<!--NOTE:文章标签-->
<span class="date-divider">/</span> <a href="../tag/react/index.html">vim</a>
</section>
<!--NOTE:文章标题-->
<h1 class="post-full-title">在Vim中快捷翻译</h1>
</header>
<!--NOTE:文章大图-->
<figure class="post-full-image" style="background-image: url(https://images.unsplash.com/photo-1516321165247-4aa89a48be28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=794&q=80)">
</figure>
<section class="post-full-content">
<div class="kg-card-markdown">
<!--============================================================-->
<!--NOTE:文章简介,第一句话字体较大-->
<p>请填写文章简介</p>
<!--NOTE:文章简介,字体正常-->
<!--<p>这是接下来的一句话<code>这是有阴影的一句话</code></p>-->
<!--NOTE:可以加个源码链接-->
<!--<hr>-->
<!--<p>本文源码参见：<a href="www.baidu.com">next-antd-app</a></p>-->
<hr>
<!--============================================================-->
<!--NOTE:正文-->


<h3>准备工作</h3>
<ol>
<li>下载有道翻译命令行版本<ul>
<li>验证是否安装成功</li>
</ul>
</li>
<li>fasdf</li>
</ol>
<p>
<img alt="blockchain" src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=702257389,1274025419&amp;fm=27&amp;gp=0.jpg" title="区块链" /></p>
<pre><code>hello python
hello taotao.blog</code></pre>
<p>fdf</p>
<!--============================================================-->
</div>
</section>
<footer class="post-full-footer">
<section class="author-card">
<!--NOTE:作者头像-->

<img class="author-profile-image" src="https://www.gravatar.com/avatar/165b4e01e20d7a5812e565695d1db79e?s=250&amp;d=mm&amp;r=x" alt="Hooray" />
<section class="author-card-content">
<h4 class="author-card-name"><a href="../author/hooray.html">Hooray</a></h4>
<p>Read <a href="../author/hooray.html">more posts</a> by this author.</p>
</section>
</section>
<div class="post-full-footer-right">
<a class="author-card-button" href="../author/hooray.html">Read More</a>
</div>
</footer>
</article>
{% endblock %}
{% block recommend %}
<!--NOTE:下方文章推荐-->
<aside class="read-next outer">
<div class="inner">
<div class="read-next-feed">
<article class="post-card post tag-ghost-blog">
<a class="post-card-image-link" >
<div class="post-card-image" style="background-image: url(../content/images/9.jpg)"></div>
</a>
<div class="post-card-content">
<a class="post-card-content-link" >
<header class="post-card-header">
<span class="post-card-tags">Tag</span>
<h2 class="post-card-title">Title</h2>
</header>
<section class="post-card-excerpt">
<p>这是个文章简介</p>
</section>
</a>
<footer class="post-card-meta">

<img class="author-profile-image" src="https://www.gravatar.com/avatar/165b4e01e20d7a5812e565695d1db79e?s=250&amp;d=mm&amp;r=x" alt="Hooray" />
<span class="post-card-author"><a href="../author/hooray.html">Hooray</a></span>
</footer>
</div>
</article>
<article class="post-card post tag-ghost-blog">
<a class="post-card-image-link" >
<div class="post-card-image" style="background-image: url(../content/images/2.jpg)"></div>
</a>
<div class="post-card-content">
<a class="post-card-content-link" >
<header class="post-card-header">
<span class="post-card-tags">Tag</span>
<h2 class="post-card-title">Title</h2>
</header>
<section class="post-card-excerpt">
<p>这是个文章简介</p>
</section>
</a>
<footer class="post-card-meta">

<img class="author-profile-image" src="https://www.gravatar.com/avatar/165b4e01e20d7a5812e565695d1db79e?s=250&amp;d=mm&amp;r=x" alt="Hooray" />
<span class="post-card-author"><a href="../author/hooray.html">Hooray</a></span>
</footer>
</div>
</article>
</div>
</div>
</aside>

{% endblock %}
{% block onescript %}
// NOTE: Scroll performance is poor in Safari
// - this appears to be due to the events firing much more slowly in Safari.
//   Dropping the scroll event and using only a raf loop results in smoother
//   scrolling but continuous processing even when not scrolling
$(document).ready(function () {
    // Start fitVids
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
    // End fitVids

    var progressBar = document.querySelector('progress');
    var header = document.querySelector('.floating-header');
    var title = document.querySelector('.post-full-title');

    var lastScrollY = window.scrollY;
    var lastWindowHeight = window.innerHeight;
    var lastDocumentHeight = $(document).height();
    var ticking = false;

    function onScroll() {
        lastScrollY = window.scrollY;
        requestTick();
    }

    function onResize() {
        lastWindowHeight = window.innerHeight;
        lastDocumentHeight = $(document).height();
        requestTick();
    }

    function requestTick() {
        if (!ticking) {
            requestAnimationFrame(update);
        }
        ticking = true;
    }

    function update() {
        var trigger = title.getBoundingClientRect().top + window.scrollY;
        var triggerOffset = title.offsetHeight + 35;
        var progressMax = lastDocumentHeight - lastWindowHeight;

        // show/hide floating header
        if (lastScrollY >= trigger + triggerOffset) {
            header.classList.add('floating-active');
        } else {
            header.classList.remove('floating-active');
        }

        progressBar.setAttribute('max', progressMax);
        progressBar.setAttribute('value', lastScrollY);

        ticking = false;
    }

    window.addEventListener('scroll', onScroll, {passive: true});
    window.addEventListener('resize', onResize, false);

    update();
});
</script>
{% endblock %}
