{% extends "base.html" %}
{% block head %}
{% include "header.html" %}
{% endblock %}
	{% block author %}
<div class="site-header-content">
<img class="author-profile-image" src="https://www.gravatar.com/avatar/eef863b3e7bf23276612b18cecd880c9?s=250&amp;d=mm&amp;r=x" alt="Hooray" />
<h1 class="site-title">Hooray</h1>
<h2 class="author-bio">你渴望力量么</h2>
<div class="author-meta">
<div class="author-location">Hong Kong <span class="bull">&bull;</span></div>
<div class="author-stats">
25 posts <span class="bull">&bull;</span>
</div>
<a class="social-link social-link-wb" href="https://tao.im" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.5 11.957c0 6.375-5.163 11.544-11.532 11.544C5.599 23.5.5 18.125.5 11.75.5 5.542 5.37.758 11.505.511l.5-.011C18.374.5 23.5 5.582 23.5 11.957zM11.505.511c-6 6.5-6 14.98 0 22.98m1-22.98c6 6.5 6 14.977 0 22.977M2 17.479h20.063m-19.657-12h19.062m-20.968 6h22.938" stroke="#000" stroke-linejoin="round" stroke-miterlimit="10" fill="none" /></svg>
</a>
<a class="social-link social-link-rss" href="http://cloud.feedly.com/#subscription/feed/rss/" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="6.18" cy="17.82" r="2.18" /><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z" /></svg>
</a>
</div>
</div>
	{% endblock %}
{% block heart %}
<div class="post-feed">
<article class="post-card post tag-ghost-blog tag-blog tag-node">
<a class="post-card-image-link" href="../ghost-upgrade/index.html">
<div class="post-card-image" style="background-image: url(https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;8499e1ed7cbcd39b8913946b7a8ae38b)"></div>
</a>
<div class="post-card-content">
<a class="post-card-content-link" href="../ghost-upgrade/index.html">
<header class="post-card-header">
<span class="post-card-tags">Ghost</span>
<h2 class="post-card-title">Ghost 版本升级</h2>
</header>
<section class="post-card-excerpt">
<p>2017年7月更新 此方法只适合0.x版本的升级，不适合 Ghost 0.x 升级到 1.x。 获取最新版本 下载当前最新版本的 Ghost 文件。相关命令： curl -LOk https://ghost.org/zip/ghost-latest.zip</p>
</section>
</a>
<footer class="post-card-meta">
<img class="author-profile-image" src="https://www.gravatar.com/avatar/eef863b3e7bf23276612b18cecd880c9?s=250&amp;d=mm&amp;r=x" alt="Hooray" />
<span class="post-card-author"><a href="hooray.html">Hooray</a></span>
</footer>
</div>
</article>
<article class="post-card post tag-git">
<a class="post-card-image-link" href="../git-tags/index.html">
<div class="post-card-image" style="background-image: url(https://images.unsplash.com/photo-1518306965192-44da60abb26f?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;95db19a618af1317484b6f4b98eeb029)"></div>
</a>
<div class="post-card-content">
<a class="post-card-content-link" href="../git-tags/index.html">
<header class="post-card-header">
<span class="post-card-tags">Git</span>
<h2 class="post-card-title">Git 标签管理</h2>
</header>
<section class="post-card-excerpt">
<p>Git 可以非常方便的创建和管理标签。 创建标签 # 创建轻量标签 git tag v0.1.0 # 创建附注标签 git tag -a v1.0.0 -m 'version 1.0.0' # 为某次提交创建标签 git tag -a v1.2.0 f4991e9</p>
</section>
</a>
<footer class="post-card-meta">
<img class="author-profile-image" src="https://www.gravatar.com/avatar/eef863b3e7bf23276612b18cecd880c9?s=250&amp;d=mm&amp;r=x" alt="Hooray" />
<span class="post-card-author"><a href="hooray.html">Hooray</a></span>
</footer>
</div>
</article>
<article class="post-card post tag-git">
<a class="post-card-image-link" href="../git-branches/index.html">
<div class="post-card-image" style="background-image: url(https://images.unsplash.com/photo-1518204919429-b447980c73bc?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;3a4acbe78cb9d98f5953c0b9c157addc)"></div>
</a>
<div class="post-card-content">
<a class="post-card-content-link" href="../git-branches/index.html">
<header class="post-card-header">
<span class="post-card-tags">Git</span>
<h2 class="post-card-title">Git 分支管理</h2>
</header>
<section class="post-card-excerpt">
<p>前文讲到 Git 的基础命令，这里谈一下 Git 的分支管理。 Git 的每一次提交都是为当前所有文件创建一个快照，而每创建一个分支则是添加一个可移动的指针，来定位版本修改的过程。</p>
</section>
</a>
<footer class="post-card-meta">
<img class="author-profile-image" src="https://www.gravatar.com/avatar/eef863b3e7bf23276612b18cecd880c9?s=250&amp;d=mm&amp;r=x" alt="Hooray" />
<span class="post-card-author"><a href="hooray.html">Hooray</a></span>
</footer>
</div>
</article>
<article class="post-card post tag-git">
<a class="post-card-image-link" href="../git-basic-cmd/index.html">
<div class="post-card-image" style="background-image: url(https://images.unsplash.com/photo-1515693987826-e3f55905dbcb?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;d8a22355d150ec6e0b5c70791be960a9)"></div>
</a>
<div class="post-card-content">
<a class="post-card-content-link" href="../git-basic-cmd/index.html">
<header class="post-card-header">
<span class="post-card-tags">Git</span>
<h2 class="post-card-title">Git 基础命令</h2>
</header>
<section class="post-card-excerpt">
<p>用户设置 Git 应该是如今最常用的版本控制工具了，对于初学者来说，客户端会比较方便，但是熟悉一些基本的 Git 的命令会大大地提高我们的开发效率。 设置用户信息 git config --global user.name 'Hooray' git config --global user.email '<span class="__cf_email__" data-cfemail="4b262a22270b3f2a24652226">[email&#160;protected]</span>'</p>
</section>
</a>
<footer class="post-card-meta">
<img class="author-profile-image" src="https://www.gravatar.com/avatar/eef863b3e7bf23276612b18cecd880c9?s=250&amp;d=mm&amp;r=x" alt="Hooray" />
<span class="post-card-author"><a href="hooray.html">Hooray</a></span>
</footer>
</div>
</article>
<article class="post-card post tag-front-end">
<a class="post-card-image-link" href="../css-vertical-alignment/index.html">
<div class="post-card-image" style="background-image: url(https://images.unsplash.com/photo-1472437774355-71ab6752b434?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;4a2b479d6d5d5caf599a02695869f28e)"></div>
</a>
<div class="post-card-content">
<a class="post-card-content-link" href="../css-vertical-alignment/index.html">
<header class="post-card-header">
<span class="post-card-tags">前端</span>
<h2 class="post-card-title">CSS 垂直居中</h2>
</header>
<section class="post-card-excerpt">
<p>平时会经常遇到垂直居中的问题，其实最简单的方法是用 table 的 vertical-align 属性。 父元素样式设为 display: table; 子元素样式设为</p>
</section>
</a>
<footer class="post-card-meta">
<img class="author-profile-image" src="https://www.gravatar.com/avatar/eef863b3e7bf23276612b18cecd880c9?s=250&amp;d=mm&amp;r=x" alt="Hooray" />
<span class="post-card-author"><a href="hooray.html">Hooray</a></span>
</footer>
</div>
</article>
<article class="post-card post tag-javascript tag-regexp">
<a class="post-card-image-link" href="../js-date-re/index.html">
<div class="post-card-image" style="background-image: url(https://images.unsplash.com/photo-1415604934674-561df9abf539?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;00834c1e8284f5358f0ec88f807e46ae)"></div>
</a>
<div class="post-card-content">
<a class="post-card-content-link" href="../js-date-re/index.html">
<header class="post-card-header">
<span class="post-card-tags">JavaScript</span>
<h2 class="post-card-title">JavaScript 日期合法性判断</h2>
</header>
<section class="post-card-excerpt">
<p>遇到了用 JavaScript 判断日期合法性的问题，感觉用正则表达式比较方便，记录一下。 表达式</p>
</section>
</a>
<footer class="post-card-meta">
<img class="author-profile-image" src="https://www.gravatar.com/avatar/eef863b3e7bf23276612b18cecd880c9?s=250&amp;d=mm&amp;r=x" alt="Hooray" />
<span class="post-card-author"><a href="hooray.html">Hooray</a></span>
</footer>
</div>
</article>
<article class="post-card post tag-centos tag-mac tag-zsh">
<a class="post-card-image-link" href="../zsh-install/index.html">
<div class="post-card-image" style="background-image: url(https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;12d94a736b4c1eb6210fc7f50b3b164c)"></div>
</a>
<div class="post-card-content">
<a class="post-card-content-link" href="../zsh-install/index.html">
<header class="post-card-header">
<span class="post-card-tags">CentOS</span>
<h2 class="post-card-title">安装 Zsh</h2>
</header>
<section class="post-card-excerpt">
<p>Zsh 是一款比较强大的 Shell 软件，它在兼容 Bash 的同时还提供了一些更强大的功能。下面是 Zsh 在 Mac 和 CentOS 上的安装方法。 Mac 查看 Mac 上支持的所有 Shell 类型</p>
</section>
</a>
<footer class="post-card-meta">
<img class="author-profile-image" src="https://www.gravatar.com/avatar/eef863b3e7bf23276612b18cecd880c9?s=250&amp;d=mm&amp;r=x" alt="Hooray" />
<span class="post-card-author"><a href="hooray.html">Hooray</a></span>
</footer>
</div>
</article>
<article class="post-card post tag-ghost-blog">
<a class="post-card-image-link" href="../hello-ghost/">
<div class="post-card-image" style="background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;da20deeaf065c0f971514c5f456ae8b7)"></div>
</a>
<div class="post-card-content">
<a class="post-card-content-link" href="../hello-ghost/">
<header class="post-card-header">
<span class="post-card-tags">Ghost</span>
<h2 class="post-card-title">你好，Ghost！</h2>
</header>
<section class="post-card-excerpt">
<p>之前一直是用 WordPress 写博客，WordPress 比较强大，但比较臃肿。虽然也听说过 Ghost，但是一直没机会尝试。这两天在电脑上试了一下，感觉很不错，所以决定把博客系统从 WordPress 转到 Ghost 上来。</p>
</section>
</a>
<footer class="post-card-meta">
<img class="author-profile-image" src="https://www.gravatar.com/avatar/eef863b3e7bf23276612b18cecd880c9?s=250&amp;d=mm&amp;r=x" alt="Hooray" />
<span class="post-card-author"><a href="hooray.html">Hooray</a></span>
</footer>
</div>
</article>
</div>
{% endblock %}
