{% extends "base.html" %}
{% block head %}
{% include "header.html" %}
{% endblock %}
	{% block author %}
<div class="site-header-content">
<h1 class="site-title">{{ tname }}</h1>
<h2 class="site-description">
A collection of {{ tnums }} posts
</h2>
</div>
	{% endblock %}
{% block heart %}

<div class="post-feed">


{% for pair in group %}

    {% if pair.0.img|truncatechars:5 == "https" %}
        <article class="read-next-card" style="background-image: url({{ pair.0.img }})">
    {% else %}
        <article class="read-next-card" style="background-image: url({% url 'index' %}media/{{ pair.0.img }})">
    {% endif %}
        <header class="read-next-card-header">
        <small class="read-next-card-header-sitetitle">&mdash; iTT✞ &mdash;</small>
    <h3 class="read-next-card-header-title"><a href="{% url 'index' %}list-{{ pair.0.id }}.html">{{pair.0.name}}</a></h3>
    </header>
    <div class="read-next-divider"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 14.5s2 3 5 3 5.5-2.463 5.5-5.5S21 6.5 18 6.5c-5 0-7 11-12 11C2.962 17.5.5 15.037.5 12S3 6.5 6 6.5s4.5 3.5 4.5 3.5" /></svg>
    </div>
    <div class="read-next-card-content">
    <ul>
        {% for a in pair.1 %}
            <li><a href="{% url 'index' %}show-{{ a.id }}.html">{{ a.title }}</a></li>
        {% endfor %}
    </ul>
    </div>
    <footer class="read-next-card-footer">
    <a href="{% url 'index' %}list-{{ pair.0.id }}.html">See all {{ pair.2 }} posts →</a>
    </footer>
    </article>
{% endfor %}

</div>
{% endblock %}
