<body class="post-template tag-react tag-next-js tag-antdesign">
<div class="site-wrapper">
<header class="site-header outer">
<div class="inner">
<nav class="site-nav">
<div class="site-nav-left">
<a class="site-nav-logo" href="../index.html">iTT✞</a>
<ul class="nav" role="menu">
<li class="nav-" role="menuitem"><a href="{% url 'index' %}">首页</a></li>
<li class="nav-" role="menuitem"><a href="https://hooray1998.github.io/note">笔记</a></li>
<li class="nav-" role="menuitem"><a href="{% url 'index' %}category">分类</a></li>
<li class="nav-" role="menuitem"><a href="{% url 'index' %}book">书单</a></li>
<li class="nav-" role="menuitem"><a href="{% url 'index' %}link">链接</a></li>
<li class="nav-" role="menuitem"><a href="{% url 'index' %}about">关于</a></li>
</ul>
</div>
