{% extends "base.html" %}
{% block head %}
{% include "header.html" %}
{% endblock %}
{% block heart %}
<article class="post-full post tag-react tag-next-js tag-antdesign ">
<header class="post-full-header">
<section class="post-full-meta">
<!--NOTE:发表时间-->
<time class="post-full-meta-date" datetime="{{ show.created_time }}">{{ show.created_time }}</time>
<!--NOTE:文章标签-->
<span class="date-divider">/</span>
    {% for tag in show.tags.all %}
        <a href="{% url 'index' %}tag/{{ tag.name }}">&nbsp;&nbsp;{{ tag.name }}</a>
    {% endfor %}
</section>
<!--NOTE:文章标题-->
<h1 class="post-full-title">{{ show.title }}</h1>
</header>
<!--NOTE:文章大图-->
    {% if show.img|truncatechars:5 == "https" %}
        <figure class="post-full-image" style="background-image: url({{ show.img }})">
    {% else %}
        <figure class="post-full-image" style="background-image: url({% url 'index' %}media/{{ show.img }})">
    {% endif %}
</figure>
<section class="post-full-content">
<div class="kg-card-markdown">
<!--============================================================-->
<!--NOTE:文章简介,第一句话字体较大-->
<!--NOTE:文章简介,字体正常-->
<!--<p>这是接下来的一句话<code>这是有阴影的一句话</code></p>-->
<!--NOTE:可以加个源码链接-->
<!--<hr>-->
<!--<p>本文源码参见：<a href="www.baidu.com">next-antd-app</a></p>-->
    {{ show.excerpt }}
<hr>
<!--============================================================-->
<!--NOTE:正文-->
    {{ show.body|safe }}

<!--============================================================-->
</div>
</section>
<footer class="post-full-footer">
<section class="author-card">
<!--NOTE:作者头像-->
<img class="author-profile-image" src="https://s.gravatar.com/avatar/67112412c6d334572806ef4b2b6fc0c0?s=80" alt="朱亚非" />
<section class="author-card-content">
<h4 class="author-card-name"><a href="../author/hooray.html">朱亚非</a></h4>
<p>Read <a href="{% url 'index' %}author.html">more posts</a> by this author.</p>
</section>
</section>
<div class="post-full-footer-right">
<a class="author-card-button" href="{% url 'index' %}author.html">Read More</a>
</div>
</footer>
</article>
{% endblock %}
