            <section class="widget post-right-item">
                <h4 class="post-right-title">热门推荐</h4>


                <ul class="post-hot clearfix">

                    {% for right in rightTui %}
                    <li>
                        <div class="img">

                            <a href="{% url 'index' %}show-{{ right.id }}.html"
                               title="{{ right.title }}"><img
                                    src="{% url 'index' %}media/{{ right.img }}"
                                    srcset="{% url 'index' %}media/{{ right.img }}"
                                    alt="{{ right.title }}" class="wp-post-image" width="120"
                                    height="80"/></a>

                        </div>
                        <a href="{% url 'index' %}show-{{ right.id }}.html" title="{{ right.title }}"
                           target="_blank" class="title">{{ right.title }}</a>
                    </li>
                    {% endfor %}

                </ul>
            </section>
            </section>
            <section class="widget post-right-item"><h4 class="post-right-title">所有标签</h4>
                <div class="tags">

                    {% for foo in alltags %}
                        <a href="{% url 'index' %}tag/{{ foo.name }}">{{ foo.name }}</a>
                    {% endfor %}


                </div>
            </section>
		</section><!-- /关注我们 -->
