{% extends "base.html" %}
{% block head %}
{% include "header.html" %}
{% endblock %}
{% block heart %}
<article class="post-full post tag-react tag-next-js tag-antdesign ">
<header class="post-full-header">
<section class="post-full-meta">
<!--NOTE:发表时间-->
<time class="post-full-meta-date" datetime="{{ show.created_time }}">{{ show.created_time }}</time>
<!--NOTE:文章标签-->
<span class="date-divider">/</span>
    {% for tag in show.tags.all %}
        <a href="{% url 'index' %}tag/{{ tag.name }}">&nbsp;&nbsp;{{ tag.name }}</a>
    {% endfor %}
</section>
<!--NOTE:文章标题-->
<h1 class="post-full-title">{{ show.title }}</h1>
</header>
<!--NOTE:文章大图-->
<figure class="post-full-image" style="background-image: url({% url 'index' %}media/{{ show.img }})">
</figure>
<section class="post-full-content">
<div class="kg-card-markdown">
<!--============================================================-->
<!--NOTE:文章简介,第一句话字体较大-->
<!--NOTE:文章简介,字体正常-->
<!--<p>这是接下来的一句话<code>这是有阴影的一句话</code></p>-->
<!--NOTE:可以加个源码链接-->
<!--<hr>-->
<!--<p>本文源码参见：<a href="www.baidu.com">next-antd-app</a></p>-->
    {{ show.excerpt }}
<hr>
<!--============================================================-->
<!--NOTE:正文-->
    {{ show.body|safe }}

<!--============================================================-->
</div>
</section>
<footer class="post-full-footer">
<section class="author-card">
<!--NOTE:作者头像-->
<img class="author-profile-image" src="https://s.gravatar.com/avatar/67112412c6d334572806ef4b2b6fc0c0?s=80" alt="朱亚非" />
<section class="author-card-content">
<h4 class="author-card-name"><a href="../author/hooray.html">Hooray</a></h4>
<p>Read <a href="{% url 'index' %}author.html">more posts</a> by this author.</p>
</section>
</section>
<div class="post-full-footer-right">
<a class="author-card-button" href="{% url 'index' %}author.html">Read More</a>
</div>
</footer>
</article>
{% endblock %}
{% block recommend %}
<!--NOTE:下方文章推荐-->
<aside class="read-next outer">
<div class="inner">
<div class="read-next-feed">

    {% if 3 < curcategory|length %}
        <article class="read-next-card" style="background-image: url(https://images.unsplash.com/photo-1501004318641-b39e6451bec6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)">
            <header class="read-next-card-header">
                <small class="read-next-card-header-sitetitle">&mdash; iTT✞ &mdash;</small>
                <h3 class="read-next-card-header-title"><a href="{% url 'index' %}list-{{curcategory.0.category.id}}.html">{{curcategory.0.category.name}}</a></h3>
            </header>
            <div class="read-next-divider"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 14.5s2 3 5 3 5.5-2.463 5.5-5.5S21 6.5 18 6.5c-5 0-7 11-12 11C2.962 17.5.5 15.037.5 12S3 6.5 6 6.5s4.5 3.5 4.5 3.5" /></svg>
            </div>
            <div class="read-next-card-content">
                <ul>
                        <li><a href="{% url 'index' %}show-{{ curcategory.0.id }}.html">{{ curcategory.0.title }}</a></li>
                        <li><a href="{% url 'index' %}show-{{ curcategory.1.id }}.html">{{ curcategory.1.title }}</a></li>
                        <li><a href="{% url 'index' %}show-{{ curcategory.2.id }}.html">{{ curcategory.2.title }}</a></li>
                </ul>
            </div>
            <footer class="read-next-card-footer">
                <a href="{% url 'index' %}list-{{curcategory.0.category.id}}.html">See all {{curcategory|length}} posts →</a>
            </footer>
        </article>
        {% if previous_blog %}
        <article class="post-card post tag-ghost-blog">
            <a class="post-card-image-link" >
                <div class="post-card-image" style="background-image: url({% url 'index' %}media/{{ previous_blog.img }})"></div>
            </a>
            <div class="post-card-content">
                <a class="post-card-content-link" href="{% url 'index' %}show-{{ previous_blog.id }}.html">
                    <header class="post-card-header">
                        <span class="post-card-tags">{{ previous_blog.category.name }}</span>
                        <h2 class="post-card-title" >{{ previous_blog.title }}</h2>
                    </header>
                    <section class="post-card-excerpt">
                        <p>{{ previous_blog.excerpt }}</p>
                    </section>
                </a>
                <footer class="post-card-meta">

					<img class="author-profile-image" src="https://s.gravatar.com/avatar/67112412c6d334572806ef4b2b6fc0c0?s=80" alt="朱亚非" />
                    <span class="post-card-author"><a href="{% url 'index' %}author.html">{{ previous_blog.user }}</a></span>
                </footer>
            </div>
        </article>
        {% endif %}
        {% if next_blog %}
        <article class="post-card post tag-ghost-blog">
            <a class="post-card-image-link" >
                <div class="post-card-image" style="background-image: url({% url 'index' %}media/{{ next_blog.img }})"></div>
            </a>
            <div class="post-card-content">
                <a class="post-card-content-link" href="{% url 'index' %}show-{{ next_blog.id }}.html">
                    <header class="post-card-header">
                        <span class="post-card-tags">{{ next_blog.category.name }}</span>
                        <h2 class="post-card-title" >{{ next_blog.title }}</h2>
                    </header>
                    <section class="post-card-excerpt">
                        <p>{{ next_blog.excerpt }}</p>
                    </section>
                </a>
                <footer class="post-card-meta">

					<img class="author-profile-image" src="https://s.gravatar.com/avatar/67112412c6d334572806ef4b2b6fc0c0?s=80" alt="朱亚非" />
                    <span class="post-card-author"><a href="{% url 'index' %}author.html">{{ next_blog.user }}</a></span>
                </footer>
            </div>
        </article>
        {% endif %}

    {% else %}
        {% for a in curcategory %}

            <article class="post-card post tag-ghost-blog">
            <a class="post-card-image-link" >
                <div class="post-card-image" style="background-image: url({% url 'index' %}media/{{ a.img }})"></div>
            </a>
            <div class="post-card-content">
            <a class="post-card-content-link" href="{% url 'index' %}show-{{ a.id }}.html">
            <header class="post-card-header">
            <span class="post-card-tags">{{ a.category.name }}</span>
            <h2 class="post-card-title" >{{ a.title }}</h2>
            </header>
            <section class="post-card-excerpt">
            <p>{{ a.excerpt }}</p>
            </section>
            </a>
            <footer class="post-card-meta">

			<img class="author-profile-image" src="https://s.gravatar.com/avatar/67112412c6d334572806ef4b2b6fc0c0?s=80" alt="朱亚非" />
            <span class="post-card-author"><a href="{% url 'index' %}author.html">{{ a.user }}</a></span>
            </footer>
            </div>
            </article>

        {% endfor %}
    {% endif %}

</div>
</div>
</aside>

{% endblock %}
