@charset 'UTF-8';
	*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:0;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

*,:after,:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

html{
	overflow-x:hidden;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}

::-moz-selection{
	color:#fff;
	background-color:#eb5055
}

::selection{
	color:#fff;
	background-color:#eb5055
}

body{
	font-family:-apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	font-size:14px;
	line-height:1.8;
	margin:0 auto;
	color:#313131;
	text-rendering:geometricPrecision;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

body>
	:first-child{
	margin-top:0!important
}

body>
	:last-child{
	margin-bottom:0!important
}

blockquote,dl,ol,p,pre,table,ul{
	margin:20px 0;
	vertical-align:baseline
}

.lists-navigator{
	margin:30px 0 35px
}

.onelist-page .lists-navigator{
	margin:35px 0 35px
}

.lists-navigator ol{
	margin:0;
	padding:0 10px;
	list-style:none;
	text-align:center
}

.lists-navigator ol li{
	display:inline-block;
	color:#5f5f5f
}

.lists-navigator ol li a{
	font-size:14px;
	padding:0 20px;
	color:#5f5f5f
}

.lists-navigator ol li.current a{
	color:#eb5055
}
#comments .lists-navigator{
	margin:20px 0
}

#comments .lists-navigator ol{
	margin:20px 0;
	padding:0 10px;
	list-style:none;
	text-align:center
}

#comments .lists-navigator ol li.current a{
	color:#eb5055
}

.comment-container{
	position:relative;
	z-index:1;
	color:#5f5f5f;
	background-color:#f7f7f7
}

#comments{
	max-width:700px;
	margin:0 auto;
	padding:0 20px
}

#comments .page-navigator{
	margin:0
}

#comments a{
	color:#5f5f5f
}

#comments .response{
	font-size:14px;
	font-weight:400;
	display:block;
	padding:30px 0 30px 20px;
	color:#5f5f5f
}

#comments .response a{
	color:#eb5055
}

.comment-list{
	margin:0;
	padding-left:0;
	list-style-type:none
}

.comment-parent{
	margin:20px 0;
	border:1px solid rgba(184,197,214,.2);
	border-radius:3px;
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,.04);
	box-shadow:0 1px 4px rgba(0,0,0,.04)
}

.comment-parent:last-child{
	margin:20px 0 0
}

.comment-parent:first-child{
	margin:0
}

.comment-child,.comment-child2{
	border-top:1px solid rgba(184,197,214,.2)
}

.comment-view{
	padding:20px;
	cursor:pointer
}

.comment-header{
	display:inline-block;
	width:100%
}

.comment-header .avatar{
	display:inline-block;
	float:left;
	width:40px;
	height:40px;
	border:1px solid #eaeaea;
	border-radius:50%
}

.comment-header .comment-author{
	font-size:13px;
	line-height:45px;
	display:inline-block;
	float:left;
	margin:0 20px
}

.comment-header .comment-by-author a{
	color:#eb5055!important
}

.comment-content{
	margin-bottom:10px;
	color:#313131
}

.comment-meta{
	font-size:12px
}

.comment-meta .comment-reply{
	display:none;
	float:right
}

.comment-meta .comment-reply a{
	color:#eb5055!important
}

.comment-view:hover .comment-meta .comment-reply{
	display:block
}

.comment-parent>
	.comment-children .avatar{
	width:34px;
	height:34px;
	margin:3px 0 0 3px
}

.comment-parent>
	.comment-children .comment-author-at{
	float:left;
	margin-right:5px
}

.comment-parent>
	.comment-children .comment-content{
	margin:-3px 3px 10px
}

.comment-parent>
	.comment-children .comment-meta{
	margin:0 3px
}

.comment-form{
	position:relative;
	margin:0 0 40px;
	padding:10px 20px;
	border-radius:3px;
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,.04);
	box-shadow:0 1px 4px rgba(0,0,0,.04)
}

.comment-form .form-control{
	font-size:13px;
	display:block;
	width:100%;
	height:34px;
	color:#313131;
	outline:0
}

.comment-form .form-control:focus{
	border-color:#eb5055;
	outline:0
}

.comment-form textarea.form-control{
	overflow:hidden;
	height:150px;
	padding:10px 0;
	resize:none;
	border-radius:0
}

.comment-form .input-control{
	float:left;
	width:100%;
	max-width:206px;
	border-bottom:1px dashed #ddd;
	border-radius:0
}

.comment-form .submit{
	font-size:13px;
	position:absolute;
	right:20px;
	bottom:20px;
	display:block;
	height:32px;
	margin:0 auto;
	padding:0 20px;
	-webkit-transition-duration:.4s;
	transition-duration:.4s;
	text-align:center;
	color:#313131;
	border:1px solid #f7f7f7;
	border-radius:30px;
	background-color:#f7f7f7
}

.comment-form .submit:hover,.submit:active,.submit:active:focus,.submit:focus{
	color:#eb5055;
	border:1px solid #eb5055;
	outline-style:none;
	background-color:#fff
}

.footer-meta .meta-comments li{
	font-size:13px;
	line-height:25px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#5f5f5f
}

.footer-meta .meta-comments li a{
	color:#767676
}

100%{
	-webkit-transform:translateY(0);
	opacity:1
}


}

.clearfix:after,.clearfix:before{
	display:table;
	content:''
}

.clearfix:after{
	clear:both
}

.clearfix{
	zoom:1
}

